<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HMW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E63EE251BD36A8900AECFA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E63EE3E1BD36A8900AECFA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E63EE491BD36A8900AECFA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
